@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1f2937;
    padding: 1em 13em;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
}
.links{
    list-style-type: none;
    display: flex;
    gap: 2em;
}
a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3em 0;
    gap: 2em;
}
h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.container .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .right{
    flex-shrink: 0;
    width: 50%;
}
.text-box{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 1em;
}
button{
    text-align: center;
    width: 120px;
    border: none;
    background: #3882f6;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}
h2{
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding: 1em;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 10px;
}
.frame{
    width: 150px;
    height: 150px;
    border: #3882f6 solid 4px;
    border-radius: 15px;
}
.card p{

    font-size: 18px;
    color: #47494D;
}
.quote-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding: 9em 13em;
}
.quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 20px;
}
.author p{
    align-self: flex-end;
    font-size: 22px;
    font-weight: bolder;
    color: #1f2937;
}
.sign{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5em 13em;
}
.sign-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 2em;
    width: 90%;
    border-radius: 10px;
}
strong{
    font-size: 26px;
    color: white;
}
.sign-box p{
    color: white;
}
.sign button{
    border: 2px solid white;
}
.footer-container{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}